<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413352872203-e0caqlphi6mphpen86i2sakggk735jo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413352872203-e0caqlphi6mphpen86i2sakggk735jo0</string>
	<key>API_KEY</key>
	<string>AIzaSyD3C5xKY3gNqwGGkqo_M_6RjrODAAfAEHE</string>
	<key>GCM_SENDER_ID</key>
	<string>413352872203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graspApp</string>
	<key>PROJECT_ID</key>
	<string>grasp-a122f</string>
	<key>STORAGE_BUCKET</key>
	<string>grasp-a122f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413352872203:ios:dbbd1262f4e8cfb2053a0e</string>
</dict>
</plist>